    /*IMPORT OF ADDITIONAL CSS FILES*/

    @import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;500;600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
    @import url('../css/tabs.css');
    @import url('../css/modal.css');
    :root {
        --accent-color: #da9f3d;
        --main-color: #dfdfdf;
        --contrast-black: #0f0f0f;
        --menu-bgcolor: #0f0f0f;
    }

    * {
        margin: 0;
        padding: 0;
    }

    body {
        margin: 0px;
        padding: 0px;
        background: var(--contrast-black);
        color: var(--main-color);
        font-family: 'Catamaran', sans-serif;
        display: flex;
    }

    li {
        list-style: none;
    }

    /* ADAPTIVE BASE GRID */

    .container {
        /*  width: 960px;*/
        width: 1500px;
        max-width: 100%;
        margin: auto;
    }

    .header {
        /* width: 960px;*/
        width: 100%;
    }

    .logo {
        width: 10.41666666666667%;
        padding: 1.041666666666667%;
    }

    .navigation {
        width: 87.5%;
    }

    .main-nav {
        width: 95.23809523809524%;
        padding: 2.380952380952381%;
    }

    .main-nav li {
        width: 24.75%;
        border-left: 1px;
        border-right: 1px;
    }

    .content {
        /*width: 600px; */
        width: 29.16666666666667%;
        padding: 1.041666666666667%;
    }

    .footer {
        /*  width: 900px; */
        width: 93.75%;
        padding: 3.125%;
    }

    /* HEADERS ELEMENTS*/

    .toprow {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px;
        font-size: 16px;
    }

    .upper_header_cells a, a:visited, a:active {
        color: var(--main-color);
        text-decoration: none;
    }

    @media (max-width: 908px) {
        .toprow {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            padding: 10px;
        }
    }

    .upper_header_cells a:hover {
        color: var(--accent-color);
        text-decoration: none;
    }

    nav {
        display: inline-block;
        width: 100%;
        margin: 0px;
        padding: 0px;
        background: var(--contrast-black);
        position: relative;
    }

    .string {
        text-align: center;
    }

    /* LOGO STYLE */

    .logo {
        margin: 0px;
        display: flex;
        align-self: flex-start;
        position: static;
        width: 120px;
        padding-right: 20px;
    }

    /* FORMS - SEARCH - CONTACTS */

    fieldset {
        border: 0 none;
    }

    .topsearch form {
        margin: 0 auto;
        border-radius: 5px;
    }

    .topsearch input, button {
        border: none;
        outline: none;
        border-radius: 3px;
        color: var(--main-color);
        background-color: var(--contrast-black);
        border: 1px solid var(--main-color);
    }

    .topsearch button {
        height: 25px;
        width: 25px;
        background: var(--main-color);
        cursor: pointer;
    }

    .topsearch button:before {
        content: "\f002";
        font-family: FontAwesome;
        color: var(--contrast-black);
        font-size: 15px;
        font-weight: bold;
    }

    @media (max-width: 735px) {
        .topsearch {
            padding-top: 10px;
        }
    }

    /* MENU STYLE */

    .mainmenu {
        width: 100%;
        margin: 0px;
        padding: 0px;
        background-color: var(--menu-bgcolor);
        -webkit-box-shadow: -1px 2px 5px 3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px 2px 5px 3px rgba(0, 0, 0, 0.75);
        box-shadow: -1px 2px 5px 3px rgba(0, 0, 0, 0.75);
    }

    .main_nav a {
        float: left;
        display: block;
        color: var(--main-color);
        text-align: center;
        padding: 16px 30px;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        background-color: var(--menu-bgcolor);
        margin: auto;
    }

    .main_nav a:active {
        background-color: var(--menu-bgcolor);
    }

    .main_nav .icon {
        display: none;
    }

    .main_nav a:hover {
        background-color: var(--accent-color);
    }

    .dropdown {
        float: left;
    }

    .dropdown .dropbtn {
        font-size: 18px;
        border: none;
        outline: none;
        color: var(--main-color);
        padding: 16px 30px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .dropdown .dropbtn:hover {
        background-color: var(--accent-color);
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--main-color);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        float: none;
        color: #fff;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        /*background-color: var(--main-color);*/
        border-bottom: 1px solid grey;
        font-size: 14px;
    }

    .dropdown-content a:hover {
        background-color: var(--accent-color);
    }

    .dropdown:hover .dropdown-content {
        display: block;
        background-color: #3c3c3b;
    }

    @media screen and (max-width: 756px) {
        .main_nav a:not(:first-child), .dropdown .dropbtn {
            display: none;
        }
        .main_nav a.icon {
            float: right;
            display: block;
        }
    }

    @media screen and (max-width: 756px) {
        .main_nav.responsive {
            position: relative;
        }
        .main_nav.responsive a.icon {
            position: absolute;
            right: 0;
            top: 0;
        }
        .main_nav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
        .main_nav.responsive .dropdown {
            float: none;
        }
        .main_nav.responsive .dropdown-content {
            position: relative;
        }
        .main_nav.responsive .dropdown .dropbtn {
            display: block;
            width: 100%;
            text-align: left;
        }
    }

    /* PRODUCT CONTAINER */

    .products_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
        justify-content: space-around;
        text-align: center;
    }

    .products_container img {
        height: 300px;
        margin: auto;
    }

    .products_container a, a:active, a:visited {
        color: #fff;
        text-decoration: none;
    }

    .products_price {
        line-height: normal;
        color: #e3a640;
    }

    .products_btn {
        width: auto;
        height: auto;
        padding: 5px;
    }

    .products_btn :hover {
        background-color: #e2a53f;
    }

    .products_btn a {
        color: #fff;
        padding: 13px;
        border: 1px solid #e2a53f;
    }

    .products_btn a:hover {
        color: #000;
        background-color: #e2a53f;
    }

    .slide-next {
        color: var(--main-color);
        padding: 10px;
    }

    .slide-prev {
        color: var(--main-color);
        padding: 10px;
    }

    @media (max-width: 600px) {
        .products_container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 5px;
        }
    }

    /*ADAPTIVE BANNER */

    .mainbanner {
        max-width: 100%;
        height: auto;
    }

    /* BANNER CAPTION TEXT STYLES */

    .GoldHeading {
        font-family: inherit;
        font-size: 3em;
        font-weight: 500;
        color: var(--accent-color);
        letter-spacing: 0.1em;
    }

    .GreyHeading {
        font-family: inherit;
        font-size: 3em;
        font-weight: 500;
        color: #999998;
    }

    .mainbanner_block1 {
        padding: 13px;
    }

    @media (max-width: 800px) {
        .mainbanner_container {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .mainbanner_block1 {
            background-color: rgba(0, 0, 0, 0.2);
        }
        .GreyHeading {
            color: var(--contrast-black);
        }
        .goldetext {
            color: #e2a53f;
        }
        .mainbanner_block1 p {
            color: var(--contrast-black);
            font-weight: bold;
        }
        .mainbanner_block1>div {
            color: var(--contrast-black);
            font-weight: bold;
        }
        .HR_devider {
            display: none;
        }
    }

    /* СAROUSEL OF NEW PRODUCTS */

    .newproducts_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
        justify-content: space-around;
        text-align: center;
    }

    .newproducts_container img {
        height: 300px;
        margin: auto;
    }

    .newproducts_container a, a:active, a:visited {
        color: #fff;
        text-decoration: none;
    }

    .newproducts_price {
        line-height: normal;
        color: #e3a640;
    }

    .newproducts_btn {
        width: auto;
        height: auto;
        padding: 5px;
    }

    .newproducts_btn :hover {
        background-color: #e2a53f;
    }

    .newproducts_btn a {
        color: #fff;
        padding: 13px;
        border: 1px solid #e2a53f;
    }

    .newproducts_btn a:hover {
        color: #000;
        background-color: #e2a53f;
    }

    .slide-next {
        color: var(--main-color);
        padding: 10px;
    }

    .slide-prev {
        color: var(--main-color);
        padding: 10px;
    }

    @media (max-width: 600px) {
        .newproducts_container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 5px;
        }
    }

    /* OTHERS ELEMENTS */

    .social_icons {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        position: relative;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer;
    }

    .badge-cart {
        background-color: #7e7e7e;
        color: #fff;
        border-radius: 50%;
        padding: 3px;
        width: 50px;
        height: 50px;
    }

    .stylize-top-ico {
        color: var(--accent-color);
    }

    .stylize-top-ico:hover {
        background-color: var(--menu-bgcolor)!important;
    }

    .HR_devider {
        height: 4px;
        width: 11%;
        background-color: #f8b803;
        margin: 12px 0px;
    }

    .goldеtext {
        color: var(--accent-color);
        font-weight: bold;
    }

    .mainbanner_container {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .mainbanner_container img {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }
    
    .golden_button {
        background-color: #f8b803;
        color: white;
    }

    .curve-font {
        color: #7e7e7e;
        font-family: 'Bonheur Royale', cursive;
        ;
        font-size: 40px;
        line-height: 1.3;
        padding-top: 10px;
        text-align: center;
    }

    .fixed_bg_container {
        background: url(../img/fixed_bg.webp) no-repeat;
        background-attachment: fixed;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .fixed_bg_container h2 {
        color: #e3a640;
        font-size: 3em;
        font-weight: 400;
        text-align: center;
    }

    /* COUNTDOWN */

    .countdown_container {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1em;
        font-size: 1em;
        list-style-type: none;
        padding: 0.7em;
    }

    .countdown_container div {
        background: darkslategray;
        color: var(--main-color);
        padding: 3px;
        -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2) inset;
        -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2) inset;
        box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2) inset;
        text-align: center;
    }

    .countdown_container span {
        color: var(--accent-color);
    }

    /* ARTICLE AND PARAGRAPH STYLES */

    h1.article {
        color: #e2a53f;
        font-size: 36px;
        font-weight: 400;
        text-align: center;
        padding-top: 8px;
        ;
    }

    h2.article {
        color: #e2a53f;
        font-size: 28px;
        font-weight: 300;
    }

    h3.article {
        color: var(--main-color);
        font-size: 20px;
        font-weight: 200;
    }

    article {
        font-weight: 100;
        text-align: center;
        width: 60%;
        margin: auto;
    }

    .article {
        font-weight: 100;
        text-align: center;
        width: 60%;
        margin: auto;
    }

    section {
        background-image: url(../img/nicebg.png);
        /*url(//cdn.shopify.com/s/files/1/0436/6696/4634/files/bg1-1_e79db240-0ea1-4e11-ae6a-e815d174bf5e.png?v=1595831444);*/
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    /*FOOTER STYLES*/

    footer {
        background-color: #141414;
        color: rgba(255, 255, 255, 0.42);
        width: 100%;
        height: auto;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        justify-content: space-around;
        text-align: center;
    }

    footer a, a:active, a:visited {
        color: rgba(255, 255, 255, 0.42);
        font-size: 15px;
        text-decoration: none;
        font-weight: 200;
    }

    footer h4 {
        color: white;
        font-size: 1rem;
        font-weight: 300;
        border-bottom: 1px solid #fff;
        padding-bottom: 8px;
        text-align: center;
    }

    footer input {
        width: 50%;
        background-color: var(--contrast-black);
        color: #fff;
        margin: auto;
        height: 25px;
        border: none;
    }

    footer button {
        background-color: var(--accent-color);
        border: none;
        color: var(--contrast-black);
        padding: 10px 10px;
        width: 50%;
        margin: auto;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    @media (max-width: 714px) {
        footer {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 5px;
        }
    }
