/*** OVERRIDE BOOTSTRAP RULES FOR MODAL WINDOW**/

:root {
    --accent-color: #da9f3d;
    --main-color: #dfdfdf;
    --contrast-black: #0f0f0f;
    --highliht-violet: rgb(73, 65, 148);
    --hihgliht-gold: #d3942b;
}

* {
    margin: 0;
    padding: 0;
}

.modal-content input {
    font-size: 16px;
    padding: 5px;
    color: var(--contrast-black);
    font-weight: bold;
    background-color: #6b6b6b;
    border-radius: 5px;
    -webkit-box-shadow: -2px 7px 19px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 7px 19px 7px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 7px 19px 7px rgba(0, 0, 0, 0.75);
}

.modal-title {
    color: var(--contrast-black);
}

.modal-content {
    background-color: var(--contrast-black);
    border: 1px solid var(--main-color);
}

.success {
    color: var(--accent-color);
}

@media (min-width: 580px) {
    .modal-content {
        display: flex;
        width: 100%;
        height: auto;
        margin: 2px;
    }
}

@media (max-width: 422px) {
    .modal-footer {
        display: block;
        float: left;
        width: 100%;
        height: auto;
        margin: 2px;
        padding: 10px;
    }
}

.modal-body {
    color: var(--main-color);
}

.modal-title {
    color: var(--accent-color);
}

.close {
    color: var(--accent-color);
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.centered {
    text-align: center;
}

.small-text {
    font-size: 14px;
}

.modal-footer btn {
    padding: 8px;
}

.show-cart-list {
    display: grid;
    grid-template-columns: 1fr;
}

.btn-signin {
    background-color: var(--accent-color);
    color: var(--contrast-black);
    margin-top: 15px;
}

.btn-signin:hover {
    background-color: var(--contrast-black);
    border: 1px solid var(--hihgliht-gold);
    color: var(--main-color);
}

.btn-create {
    border: 1px solid var(--highliht-violet);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.btn-create:hover {
    background-color: var(--highliht-violet);
}

.error {
    padding: 10px;
}