/*** OVERRIDE BOOTSTRAP RULES FOR MODAL WINDOW**/

:root {
    --accent-color: #da9f3d;
    --main-color: #dfdfdf;
    --contrast-black: #0f0f0f;
}

* {
    margin: 0;
    padding: 0;
}

input {
    font-size: 16px;
    padding: 5px;
    color: var(--contrast-black);
    font-weight: bold;
    background-color: #6b6b6b;
    border-radius: 5px;
    -webkit-box-shadow: -2px 7px 19px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 7px 19px 7px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 7px 19px 7px rgba(0, 0, 0, 0.75);
}

.modal-title {
    color: var(--contrast-black);
}

.modal-content {
    background-color: var(--contrast-black);
    border: 1px solid var(--main-color);
}

@media (min-width: 580px) {
    .modal-content {
        display: flex;
        width: 100%;
        height: auto;
        margin: 2px;
    }
}

@media (max-width: 422px) {
    .modal-footer {
        display: block;
        float: left;
        width: 100%;
        height: auto;
        margin: 2px;
        padding: 10px;
    }
}

.modal-body {
    color: var(--main-color);
}

.modal-title {
    color: var(--accent-color);
}

.close {
    color: var(--accent-color);
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.centered {
    text-align: center;
}

.small-text {
    font-size: 14px;
}

.modal-footer btn {
    padding: 8px;
}
