/*** OVERRIDE BOOTSTRAP RULES FOR TABS CAROUSEL**/

:root {
    --accent-color: #da9f3d;
    --main-color: #dfdfdf;
    --contrast-black: #000;
}

.nav-link {
    color: var(--accent-color);
}

.nav-link.active {
    background-color: var(--contrast-black);
}

.nav-link:hover {
    color: var(--main-color);
}
